<div class="container">
    <div class="row">
        <!-- About Section -->
        <div class="col-md-4">
            <h5 class="text-uppercase">About Quizeon</h5>
            <p>Quizeon is your ultimate platform to challenge your knowledge, master new skills, and compete
                with others.</p>
        </div>

        <!-- Quick Links -->
        <div class="col-md-4">
            <h5 class="text-uppercase">Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="<%=BASE_URL%>" class="text-dark text-decoration-none">Home</a></li>
                <li><a href="quizzes" class="text-dark text-decoration-none">Quizzes</a></li>
                <li><a href="#" class="text-dark text-decoration-none">Leaderboard</a></li>
                <li><a href="#" class="text-dark text-decoration-none">About Us</a></li>
                <li><a href="#" class="text-dark text-decoration-none">Updates</a></li>
            </ul>
        </div>

        <!-- Contact and Social Media -->
        <div class="col-md-4">
            <h5 class="text-uppercase">Get in Touch</h5>
            <a href="mailto:contact@quizeon.com" class="text-decoration-none text-dark">
                <p><i class="fa fa-envelope"></i> contact@quizeon.com</p>
            </a>
            <a href="callto:+1234567890" class="text-decoration-none text-dark">
                <p><i class="fa fa-phone"></i> +1 234 567 890</p>
            </a>
            <h6 class="mt-4">Follow Us</h6>
            <div class="d-flex">
                <a href="#" class="me-3"><i class="fa fa-facebook fs-4"></i></a>
                <a href="#" class="me-3"><i class="fa fa-twitter fs-4"></i></a>
                <a href="#" class="me-3"><i class="fa fa-instagram fs-4"></i></a>
                <a href="#" class=""><i class="fa fa-linkedin fs-4"></i></a>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 Quizeon. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>